{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "quoteProps": "consistent",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": true,
  "svelteSortOrder": "scripts-options-markup-styles",
  "svelteStrictMode": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
